In [2]:
import pandas as pd

In [3]:
censo_2022 = pd.read_csv('./Microdados do Censo Escolar da EducaЗ╞o Bаsica 2022/dados/microdados_ed_basica_2022.csv', delimiter=';', encoding='latin-1')

/tmp/ipykernel_30281/908108386.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  censo_2022 = pd.read_csv('./Microdados do Censo Escolar da EducaЗ╞o Bаsica 2022/dados/microdados_ed_basica_2022.csv', delimiter=';', encoding='latin-1')

In [4]:
censo_2022.shape

(224649, 385)

In [5]:
censo_estadual = censo_2022.loc[
    (censo_2022['SG_UF'] == 'PB') & 
    (censo_2022['TP_DEPENDENCIA'] ==2) & 
    (censo_2022['TP_SITUACAO_FUNCIONAMENTO'] == 1)
]
censo_estadual.reset_index(drop=True, inplace=True)

In [6]:
censo_estadual.rename(columns={'CO_ENTIDADE' : 'INEP'}, inplace=True)

/tmp/ipykernel_30281/610885586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  censo_estadual.rename(columns={'CO_ENTIDADE' : 'INEP'}, inplace=True)

In [7]:
censo_estadual['INEP']

0      25033204
1      25023489
2      25062638
3      25062670
4      25062816
         ...
639    25084950
640    25040600
641    25019740
642    25126342
643    25048368
Name: INEP, Length: 644, dtype: int64

In [8]:
df_escolas = pd.read_csv('./dados/Sem título 1.csv')

In [9]:
df_escolas.drop(columns='#', inplace=True)

In [10]:
df_escolas.head(5)

,INEP,ESCOLA,MUNICÍPIO,LOGRADOURO,CEP,Velocidade Link
0,25053159,EEEF CLOVIS PEDROSA,Cabaceiras,"DISTRITO DE RIBEIRA, -",58480000,200Mbits
1,25077759,ECIT FRANCISCA MARTINIANO DA ROCHA,Lagoa Seca,"LUCAS DA ROCHA, 297 - CENTRO",58117000,200Mbits
2,25018280,ECI MESTRE JULIO SARMENTO,Sousa,"RUA JOSE DE PAIVA GADELHA, 125 - GATO PRETO",58802085,200Mbits
3,25071939,ECI AUDIOCOMUNICACAO DE CAMPINA GRANDE,Campina Grande,"RUA PROFESSORA EUTECIA VITAL RIBEIRO, SN - CATOLE",58410205,200Mbits
4,25049372,ECI EEFM MANOEL HONORATO SOBRINHO,Coxixola,"RUA PROJETADA, SN - CENTRO",58588000,200Mbits

In [11]:
df_escolas_ausentes = censo_estadual.loc[~censo_estadual['INEP'].isin(df_escolas['INEP'])].reset_index(drop=True)

In [12]:
df_escolas_ausentes.shape

(119, 385)

In [13]:
df_escolas_ausentes

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
0,2022,Nordeste,2,Paraíba,PB,25,Aguiar,2500205,Sertão Paraibano,1,...,4.0,5.0,0.0,0.0,4.0,2.0,2.0,10.0,10.0,0.0
1,2022,Nordeste,2,Paraíba,PB,25,Alagoinha,2500502,Agreste Paraibano,3,...,0.0,13.0,10.0,10.0,6.0,0.0,6.0,11.0,11.0,0.0
2,2022,Nordeste,2,Paraíba,PB,25,São João do Rio do Peixe,2500700,Sertão Paraibano,1,...,0.0,0.0,0.0,0.0,3.0,3.0,0.0,3.0,3.0,0.0
3,2022,Nordeste,2,Paraíba,PB,25,São João do Rio do Peixe,2500700,Sertão Paraibano,1,...,3.0,0.0,0.0,0.0,3.0,3.0,0.0,3.0,3.0,0.0
4,2022,Nordeste,2,Paraíba,PB,25,São João do Rio do Peixe,2500700,Sertão Paraibano,1,...,0.0,0.0,0.0,0.0,6.0,6.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2022,Nordeste,2,Paraíba,PB,25,Sertãozinho,2515930,Agreste Paraibano,3,...,4.0,0.0,0.0,0.0,9.0,9.0,0.0,3.0,3.0,0.0
115,2022,Nordeste,2,Paraíba,PB,25,Solânea,2516003,Agreste Paraibano,3,...,7.0,7.0,7.0,7.0,2.0,0.0,2.0,7.0,7.0,0.0
116,2022,Nordeste,2,Paraíba,PB,25,Solânea,2516003,Agreste Paraibano,3,...,11.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0
117,2022,Nordeste,2,Paraíba,PB,25,Solânea,2516003,Agreste Paraibano,3,...,0.0,22.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,0.0
118,2022,Nordeste,2,Paraíba,PB,25,Tacima,2516409,Agreste Paraibano,3,...,4.0,0.0,0.0,0.0,6.0,6.0,0.0,5.0,5.0,0.0

In [14]:
len(df_escolas_ausentes['NO_MUNICIPIO'].unique())

62

In [15]:
num_escolas = df_escolas_ausentes['NO_MUNICIPIO'].value_counts()

In [16]:
num_escolas.head(60)

João Pessoa                 17
Guarabira                    8
Mamanguape                   4
Cacimba de Dentro            3
Salgado de São Félix         3
Conceição                    3
Catolé do Rocha              3
Mulungu                      3
Cajazeiras                   3
Itaporanga                   3
São João do Rio do Peixe     3
Pombal                       3
Solânea                      3
Serra Branca                 2
Ingá                         2
Santa Rita                   2
Duas Estradas                2
Diamante                     2
Serra da Raiz                2
Sertãozinho                  2
Bananeiras                   2
Pirpirituba                  2
Caiçara                      2
Bom Sucesso                  2
Santa Inês                   1
Princesa Isabel              1
Santana de Mangueira         1
Rio Tinto                    1
São Domingos                 1
Santana dos Garrotes         1
São Bento                    1
Pilar                        1
São João do Cariri           1
São José de Caiana           1
São José de Espinharas       1
Serra Grande                 1
Serraria                     1
Pilões                       1
Aguiar                       1
Piancó                       1
Cruz do Espírito Santo       1
Araçagi                      1
Araruna                      1
Belém                        1
Boa Ventura                  1
Igaracy                      1
Borborema                    1
Cabedelo                     1
Carrapateira                 1
Coremas                      1
Curral Velho                 1
Pedra Branca                 1
Ibiara                       1
Itabaiana                    1
Lagoa                        1
Lagoa Seca                   1
Alagoinha                    1
Marcação                     1
Nova Floresta                1
Nova Olinda                  1
Name: NO_MUNICIPIO, dtype: int64

In [17]:
frequencia = df_escolas_ausentes.loc[df_escolas_ausentes['NO_MUNICIPIO'] == 'João Pessoa']['IN_INTERNET'].value_counts()
frequencia

1.0    15
0.0     2
Name: IN_INTERNET, dtype: int64

In [18]:
percentual = df_escolas_ausentes.loc[df_escolas_ausentes['NO_MUNICIPIO'] == 'João Pessoa']['IN_INTERNET'].value_counts(normalize=True).round(4)*100
percentual

1.0    88.24
0.0    11.76
Name: IN_INTERNET, dtype: float64

In [19]:
frequencia = df_escolas_ausentes['IN_INTERNET'].value_counts()
percentual = df_escolas_ausentes['IN_INTERNET'].value_counts(normalize=True).round(4)*100
escolas_com_internet = pd.DataFrame({'Frequência' : frequencia, 'Porcentual (%)': percentual})
escolas_com_internet.rename(index={0.0:'NÃO POSSUI INTERNET', 1.0:'POSSUI INTERNET'}, inplace=True)
escolas_com_internet

                     Frequência  Porcentual (%)
POSSUI INTERNET             111           93.28
NÃO POSSUI INTERNET           8            6.72

In [20]:
df_escolas_ausentes['QT_MAT_BAS'].sum()

28126.0

In [21]:
df_escolas_ausentes['QT_MAT_BAS_FEM'].sum()

14229.0

In [22]:
df_escolas_ausentes['QT_MAT_BAS_MASC'].sum()

13897.0

In [23]:
df_escolas_ausentes['IN_LABORATORIO_INFORMATICA'].value_counts()

0.0    115
1.0      4
Name: IN_LABORATORIO_INFORMATICA, dtype: int64

In [24]:
frequencia = df_escolas_ausentes['IN_LABORATORIO_INFORMATICA'].value_counts()
percentual = df_escolas_ausentes['IN_LABORATORIO_INFORMATICA'].value_counts(normalize=True).round(4)*100
escolas_com_internet = pd.DataFrame({'Quantidade de Escolas' : frequencia, 'Porcentual (%)': percentual})
escolas_com_internet.rename(index={0.0:'NÃO POSSUI LABORATÓRIO', 1.0:'POSSUI LABORATÓRIO'}, inplace=True)
escolas_com_internet

                        Quantidade de Escolas  Porcentual (%)
NÃO POSSUI LABORATÓRIO                    115           96.64
POSSUI LABORATÓRIO                          4            3.36

In [25]:
df_escolas_ausentes.loc[df_escolas_ausentes['IN_LABORATORIO_INFORMATICA'] == 1][['NO_ENTIDADE', 'NO_MUNICIPIO', 'QT_MAT_BAS_FEM', 'QT_MAT_BAS_MASC']]

,NO_ENTIDADE,NO_MUNICIPIO,QT_MAT_BAS_FEM,QT_MAT_BAS_MASC
62,INSTITUTO DOM ADAUTO,João Pessoa,179.0,190.0
66,ESCOLA DE SAUDE PUBLICA DA PARAIBA,João Pessoa,37.0,5.0
71,ESCOLA AGRICOLA ASSIS CHATEAUBRIAND-UEPB,Lagoa Seca,70.0,90.0
99,ECI EEM DOUTOR FELIZARDO LEITE,Santana dos Garrotes,97.0,98.0

In [26]:
df_escolas_ausentes['IN_BIBLIOTECA'].value_counts()

1.0    67
0.0    52
Name: IN_BIBLIOTECA, dtype: int64

In [27]:
df_escolas_ausentes['IN_BIBLIOTECA'].value_counts(normalize=True)

1.0    0.563025
0.0    0.436975
Name: IN_BIBLIOTECA, dtype: float64

In [28]:
df_escolas_ausentes['IN_BIBLIOTECA_SALA_LEITURA'].value_counts()

1.0    80
0.0    39
Name: IN_BIBLIOTECA_SALA_LEITURA, dtype: int64

In [29]:
df_escolas_ausentes['IN_BIBLIOTECA_SALA_LEITURA'].value_counts(normalize=True)

1.0    0.672269
0.0    0.327731
Name: IN_BIBLIOTECA_SALA_LEITURA, dtype: float64